/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* header */

header {
    width: 100%;
    height: 100px;
    background-color: yellow;
}

/* main */

.sidebar,
.content {
    float: left;
}

.sidebar {
    width: 30%;
}

.content {
    width: 70%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* footer */
footer {
    height: 100px;
    background-color: lightgrey;
}



/* ********** debug *********** */
.debug .sidebar {
    height: 400px;
    background-color: blue;
}

.debug .content {
    height: 400px;
    background-color: tomato;
}